body {
    width: 100%;
}

header, footer {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    clear: both;
}

section#filter-section {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: auto;
    padding: 20px 0;
}

main {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

article {
    float: left;
}

@media screen and (max-width: 630px){
    main {
        width: 320px;
    }
}

@media screen and (max-width: 920px) and (min-width: 630px){
    main {
        width: 620px;
    }
}